# Ignorar a pasta env
env/

# Ignorar a pasta shortcuts
shortcuts/

# Ignorar os arquivos data.json e executable_path.json
data.json
executable_path.json

# Ignorar a pasta __pycache__ dentro de src
src/__pycache__/